#**1.Introducción**

##1.1 ¿Qué es pandas?

Si estás empezando a aprender "data science" y/o "machine learning" usando Python, vas a acabar teniendo que usar pandas más tarde o más temprano.

Esta es una librería de código abierto que te ayuda a analizar y manipular datos.

##1.2 ¿Por qué pandas?

Pandas te da acceso a un set de funciones simples pero muy útiles. 

Está integrada con otras muchas herramientas de "machine learning" y "data science" así que tener un conocimiento adecuado te será útil en un futuro.

Uno de los principales usos de pandas es transformar tus datos de una forma que los haga compatibles con los algoritmos de "machine learning".

##1.3 ¿Qué cubre este cuaderno?

Debido a la amplitud de esta librería, normalmente hay muchas maneras de hacer la misma cosa. Este cuaderno cubre algunas de las funciones más fundamentales de esta librería, las cuáles son más que suficientes para iniciarte en ella.

##1.4 ¿Donde puedo conseguir ayuda?

No te preocupes si te atascas con una función o quieres hacer algo con pandas que este cuaderno no explica. 

Con estos dos pasos seguramente podrás arreglarlo:

1-Inténtalo.Dado que pandas es sencillo para principiantes, tu primer paso será intentar por tu propia cuenta arreglar el problema que tengas. No importa si al principio fallas ya que es parte del proceso de aprendizaje.

2-Pregunta. Si aún intentandolo no lográs arreglar el problema, busca en Internet ya que lo más seguro es que alguien más haya tenido tu mismo problema. Las dos páginas principales para buscar son "Pandas documentation" y "StackOverflow". Eso sí, ambas están en inglés.

Recuerda que no hace falta que te aprendas todas las líneas de código de memoria. Muchas veces en programación es más importante saber donde buscar el código que necesitas.

#**2.Importar pandas**

Lo primero para usar pandas es importarlo.

El método más común es importar pandas con la abreviación "pd".

Si encuentras las letras "pd" en cualquier código de Python, lo más probable es que se refiera a esta librería.

In [3]:
import pandas as pd

#**3.Tipos de datos**

Pandas tiene dos tipos de datos principales, "Series" y "Dataframes".

1.Series. Es una sola columna (o fila) de datos.

2.Dataframes. Es una tabla con varias columnas y filas de datos.

##3.1 Crear series de datos

Puedes crear series de datos usando pd.Series() y metiendo dentro una lista de Python.

In [ ]:
#Crear una serie de tipos de coches
Coches=pd.Series(['BMW','Toyota','Honda'])
Coches

0       BMW
1    Toyota
2     Honda
dtype: object

In [ ]:
#Crear una serie de colores
Colores=pd.Series(['Azul','Rojo','Blanco'])
Colores

0      Azul
1      Rojo
2    Blanco
dtype: object

##3.2 Crear dataframes

Puedes crear "dataframes" usando pd.DataFrame() y metiendo dentro un diccionario de Python (en nuestro caso vamos a meter como diccionario las series ya creadas).

In [ ]:
coches_datos=pd.DataFrame({'Tipo de coche':Coches, 'Color':Colores})
coches_datos

  Tipo de coche   Color
0           BMW    Azul
1        Toyota    Rojo
2         Honda  Blanco

Puedes ver que lo que está entre paréntesis en el diccionario se convierte en la cabecera de las columnas y que los valores de las dos series se convierten en los valores de la tabla (o DataFrame).

Es importante señalar que muchos tipos distintos de datos pueden ir en un "Dataframe".

Aquí solo hemos usado texto pero también pueden ir dentro números enteros (integers), decimales (floats) y muchos más.

#**4.Importar datos**

Crear "Dataframes" y "Series" desde 0 es divertido pero lo que harás normalmente es importar datos desde tu ordenador o Drive en la forma de un CSV o un Excel.

Pandas te permite importar datos a través de comandos como "pd.read_csv()" o "pd.read_excel()" (usas una o la otra dependiendo del tipo de archivo).

Veamos un ejemplo:

In [5]:
#Primero descargas el fichero en tu ordenador usando estas dos líneas de código
#Te saldrá una ventana donde tendrás que seleccionar el archivo
from google.colab import files
uploaded=files.upload()

Saving Ejemplo_Coches1.xlsx to Ejemplo_Coches1.xlsx
Saving Ejemplo_Coches2.xlsx to Ejemplo_Coches2.xlsx
Saving Ejemplo_Coches.xlsx to Ejemplo_Coches.xlsx

In [6]:
#Primero tenemos que llamar al dataset como si fuera un objeto. Yo le he puesto de nombre "datos"
#Igualamos su nombre a la función de pandas "read" y ponemos entre parentesis el nombre del dataset que hemos descargado previamente
datos=pd.read_excel('Ejemplo_Coches.xlsx')
#Con esa línea de código ya nos leerá el dataset. Ahora visualizamos su cabecera con la siguiente linea de código
datos.head()

    Coche  Color  Cuentakilómetros (KM)  Puertas  Precio
0  Toyota  White                 150043        4    4000
1   Honda    Red                  87899        4    5000
2  Toyota   Blue                  32549        3    7000
3     BMW  Black                  11179        5   22000
4  Nissan  White                 213095        4    3500

Ahora tenemos los mismos datos del Excel en el DataFrame datos.

Tener los datos disponibles en un Dataframe te permite usar todas las funcionalidades de pandas en él.

Otra práctica común es ver los datos importados a un Dataframe renombrados como df (abreviatura de DataFrame)

In [7]:
df=pd.read_excel('Ejemplo_Coches.xlsx')
df

    Coche  Color  Cuentakilómetros (KM)  Puertas  Precio
0  Toyota  White                 150043        4    4000
1   Honda    Red                  87899        4    5000
2  Toyota   Blue                  32549        3    7000
3     BMW  Black                  11179        5   22000
4  Nissan  White                 213095        4    3500
5  Toyota  Green                  99213        4    4500
6   Honda   Blue                  45698        4    7500
7   Honda   Blue                  54738        4    7000
8  Toyota  White                  60000        4    6250
9  Nissan  White                  31600        4    9700

Es exactamente el mismo Dataframe de arriba solo que ahora su nombre es df. 

Se recomienda usar siempre este nombre en los dataframes para hacer el código más legible a los demás.

#**5.Describir los datos**

Una de las primeras cosas que querrás hacer después de que importes algunos datos en forma de Dataframe será tener una descripción de ellos.

Pandas tiene mucha funciones que te permitirán obtener información de tu Dataframe.

Veámoslas explorandor el Dataframe de los coches.

In [8]:
df

    Coche  Color  Cuentakilómetros (KM)  Puertas  Precio
0  Toyota  White                 150043        4    4000
1   Honda    Red                  87899        4    5000
2  Toyota   Blue                  32549        3    7000
3     BMW  Black                  11179        5   22000
4  Nissan  White                 213095        4    3500
5  Toyota  Green                  99213        4    4500
6   Honda   Blue                  45698        4    7500
7   Honda   Blue                  54738        4    7000
8  Toyota  White                  60000        4    6250
9  Nissan  White                  31600        4    9700

##5.1 Cómo describir los datos del dataframe de manera simple

.dtypes nos indica que tipo de dato contiene cada columna

In [9]:
df.dtypes

Coche                    object
Color                    object
Cuentakilómetros (KM)     int64
Puertas                   int64
Precio                    int64
dtype: object

##5.2 Cómo describir los datos del dataframe de manera detallada

Si queremos tener una información un poco más detallada de nuestro Dataframe usamos la función .info().

Esta función nos enseña:

1-Cuantas filas tiene una columna (es lo que llama "entries")

2-Si hay valores nulos o no (los valores válidos los indica como non-null, si hay menos non-null que filas es que hay filas vacías o con valores nulos)

3-El tipo de dato de cada columna

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Coche                  10 non-null     object
 1   Color                  10 non-null     object
 2   Cuentakilómetros (KM)  10 non-null     int64
 3   Puertas                10 non-null     int64
 4   Precio                 10 non-null     int64
dtypes: int64(3), object(2)
memory usage: 528.0+ bytes

##5.3 Cómo describir estadísticamente los datos

Como podemos ver, tenemos tres columnas que son números (int64). Si quieres tener cierta información estadística sobre estas columnas de números puedes usar la función .describe()

In [12]:
df.describe()

       Cuentakilómetros (KM)    Puertas        Precio
count              10.000000  10.000000     10.000000
mean            78601.400000   4.000000   7645.000000
std             61983.471735   0.471405   5379.407753
min             11179.000000   3.000000   3500.000000
25%             35836.250000   4.000000   4625.000000
50%             57369.000000   4.000000   6625.000000
75%             96384.500000   4.000000   7375.000000
max            213095.000000   5.000000  22000.000000

##5.4 Cómo sacar estadísticas individuales de los datos

Si en vez de querer sacar todas las estadísticas a la vez, quieres sacar solo una, también puedes hacerlo con la función adecuada.

In [13]:
#Esta sirve para sacar la media
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

Cuentakilómetros (KM)    78601.4
Puertas                      4.0
Precio                    7645.0
dtype: float64

In [14]:
#Si quieres sumarlo todo
df.sum()

Coche                    ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Color                        WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Cuentakilómetros (KM)                                               786014
Puertas                                                                 40
Precio                                                               76450
dtype: object

##5.5 Cómo describir las columnas del dataframe

Puede que no quieras hacer la estadística para todo el Dataframe y solo quieras hacerlo para una columna. Eso se puede hacer pero lo veremos más adelante.

.columns te enseña las columnas del Dataframe

In [15]:
df.columns

Index(['Coche', 'Color', 'Cuentakilómetros (KM)', 'Puertas', 'Precio'], dtype='object')

Puedes guardar las columnas en un índice para usarlo más tarde.

In [16]:
Columnas_coche=df.columns
#Aquí vamos a pedir que nos devuelva el encabezado de la primera columna (en Python se empieza a contar desde 0)
Columnas_coche[0]

'Coche'

##5.6 Cómo describir el índice del dataframe

.index te enseña  los valores del índice (la columna más a la izquierda). 

Te enseña por cuál número empieza (normalmente en 0, en cuál número acaba y como va contando).

In [17]:
df.index

RangeIndex(start=0, stop=10, step=1)

##5.7 Cómo contar las filas del dataframe

La función len() cuenta el número de filas del Dataframe. Recuerda que el índice empieza en 0 así que si cuenta 10 filas estas iran de 0 a 9.

In [18]:
len(df)

10

#**6.Visualizar y seleccionar los datos**

En la práctica, estarás constantemente haciendo cambios en tus datos, luego los visualizarás, luego los volverás a cambiar, luego los volverás a visualizar...

Y la mayoría de veces no querrás cambiar todos los datos de tu Dataframe así que tendrás que seleccionar.

Debido a esto hay tantas maneras de seleccionar datos como de visualizarlos.

##6.1 Cómo ver las primeras filas del dataframe

.head() te permite ver las primeras 5 filas de tu Dataframe. Seguramente usarás esta función bastante.

In [19]:
df.head()

    Coche  Color  Cuentakilómetros (KM)  Puertas  Precio
0  Toyota  White                 150043        4    4000
1   Honda    Red                  87899        4    5000
2  Toyota   Blue                  32549        3    7000
3     BMW  Black                  11179        5   22000
4  Nissan  White                 213095        4    3500

Si quieres ver más de 5 filas es tan sencillo como poner el número de ellas que quieres ver en el paréntesis.

In [20]:
df.head(7)

    Coche  Color  Cuentakilómetros (KM)  Puertas  Precio
0  Toyota  White                 150043        4    4000
1   Honda    Red                  87899        4    5000
2  Toyota   Blue                  32549        3    7000
3     BMW  Black                  11179        5   22000
4  Nissan  White                 213095        4    3500
5  Toyota  Green                  99213        4    4500
6   Honda   Blue                  45698        4    7500

##6.2 Cómo ver las últimas filas del dataframe

Es lo mismo que .head solo que te enseña las 5 filas del final y no las del principio

In [21]:
df.tail()

    Coche  Color  Cuentakilómetros (KM)  Puertas  Precio
5  Toyota  Green                  99213        4    4500
6   Honda   Blue                  45698        4    7500
7   Honda   Blue                  54738        4    7000
8  Toyota  White                  60000        4    6250
9  Nissan  White                  31600        4    9700

##6.3 Cómo seleccionar una fila del dataframe usando .loc[ ]

Esta función sirve para coger una fila de tu Dataframe. Para ello tienes que escribir .loc[ ] y dentro del corchete el número de índice de la fila.

In [22]:
df

    Coche  Color  Cuentakilómetros (KM)  Puertas  Precio
0  Toyota  White                 150043        4    4000
1   Honda    Red                  87899        4    5000
2  Toyota   Blue                  32549        3    7000
3     BMW  Black                  11179        5   22000
4  Nissan  White                 213095        4    3500
5  Toyota  Green                  99213        4    4500
6   Honda   Blue                  45698        4    7500
7   Honda   Blue                  54738        4    7000
8  Toyota  White                  60000        4    6250
9  Nissan  White                  31600        4    9700

In [23]:
df.loc[3]

Coche                      BMW
Color                    Black
Cuentakilómetros (KM)    11179
Puertas                      5
Precio                   22000
Name: 3, dtype: object

##6.4 Cómo seleccionar una fila del dataframe usando .iloc[ ]

Normalmente .loc[ ] y .iloc[ ] son como sinónimos la una de la otra. Pero si, por lo que sea, el índice está desordenado importa y mucho cuál de las dos usemos.

In [24]:
#Vamos a crear una serie con índice desordenado
Animales=pd.Series(['Gato','Perro','Pájaro','Serpiente','León'], index=[0,3,6,8,3])
Animales

0         Gato
3        Perro
6       Pájaro
8    Serpiente
3         León
dtype: object

In [25]:
#Veamos que pasa con .loc[]
Animales.loc[3]

3    Perro
3     León
dtype: object

In [26]:
#Y ahora con .iloc[]
Animales.iloc[3]

'Serpiente'

Como vemos, .loc[ ] nos regresa el número de índice aunque este no tenga sentido e .iloc[ ] nos regresa el número de fila.

##6.5 Cómo visualizar datos filtrándolos

Si quieres visualizar una única columna hazlo de la siguienta manera:

In [27]:
df['Coche']

0    Toyota
1     Honda
2    Toyota
3       BMW
4    Nissan
5    Toyota
6     Honda
7     Honda
8    Toyota
9    Nissan
Name: Coche, dtype: object

También puedes filtrar los datos del Dataframe

In [28]:
#Esto te devolverá todos los coches con más de 10000 km andados
df[df['Cuentakilómetros (KM)']>100000]

    Coche  Color  Cuentakilómetros (KM)  Puertas  Precio
0  Toyota  White                 150043        4    4000
4  Nissan  White                 213095        4    3500

In [29]:
#Esto te devolverá todos los coches que sean Toyota
df[df['Coche']=='Toyota']

    Coche  Color  Cuentakilómetros (KM)  Puertas  Precio
0  Toyota  White                 150043        4    4000
2  Toyota   Blue                  32549        3    7000
5  Toyota  Green                  99213        4    4500
8  Toyota  White                  60000        4    6250

##6.6 Cómo mezclar dos columnas

Esta función sirve para mezclar dos columnas

In [30]:
pd.crosstab(df['Coche'],df['Puertas'])

Puertas  3  4  5
Coche
BMW      0  0  1
Honda    0  3  0
Nissan   0  2  0
Toyota   1  3  0

Nos está indicando que, por ejemplo, el único coche con tres puertas es un Toyota y que hay 3 Honda con 4 puertas.

#**7.Manipular datos**

Ahora vamos a ver algunas manipulaciones básicas que puedes hacer usando pandas. 

Para ello vamos a descargarnos un nuevo Dataframe

In [31]:
df2=pd.read_excel('Ejemplo_Coches1.xlsx')
df2

    Coche  Color  Cuentakilómetros (KM)  Puertas  Precio
0  Toyota  White               150043.0      4.0    4000
1   Honda    Red                87899.0      4.0    5000
2  Toyota   Blue                32549.0      3.0    7000
3     BMW  Black                    NaN      5.0   22000
4  Nissan  White               213095.0      4.0    3500
5  Toyota  Green                99213.0      4.0    4500
6   Honda   Blue                45698.0      4.0    7500
7   Honda   Blue                54738.0      NaN    7000
8  Toyota  White                60000.0      4.0    6250
9  Nissan  White                31600.0      4.0    9700

Aparentementa, es igual al otro. Vamos si hay diferencias usando la función .info()

In [32]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Coche                  10 non-null     object
 1   Color                  10 non-null     object
 2   Cuentakilómetros (KM)  9 non-null      float64
 3   Puertas                9 non-null      float64
 4   Precio                 10 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 528.0+ bytes

Como podemos ver, la única diferencia es que existe un valor nulo en "puertas" y otro en "cuentakilómetros". 

Para quitarnos estos valores nulos tenemos dos métodos:

1-Rellenar los espacios vacíos con una media del resto de valores

2-Eliminar la fila donde está el valor nulo

##7.1 Cómo rellenar las celdas donde no tenemos datos

Esta función te rellena los valores nulos de la columna que selecciones con una media del resto de valores

In [33]:
df2['Cuentakilómetros (KM)'].fillna(df2['Cuentakilómetros (KM)'].mean(), inplace=True)
df2

    Coche  Color  Cuentakilómetros (KM)  Puertas  Precio
0  Toyota  White          150043.000000      4.0    4000
1   Honda    Red           87899.000000      4.0    5000
2  Toyota   Blue           32549.000000      3.0    7000
3     BMW  Black           86092.777778      5.0   22000
4  Nissan  White          213095.000000      4.0    3500
5  Toyota  Green           99213.000000      4.0    4500
6   Honda   Blue           45698.000000      4.0    7500
7   Honda   Blue           54738.000000      NaN    7000
8  Toyota  White           60000.000000      4.0    6250
9  Nissan  White           31600.000000      4.0    9700

Como podemos ver, el valor nulo de la columna de cuentakilómetros ha desaparecido.

##7.2 Cómo deshacernos de las celdas donde no tenemos datos

Esta función en vez de rellenar los espacios vacíos, elimina las filas donde hay espacios vacíos.

In [43]:
df2.dropna(inplace=True)
df2

    Coche  Color  Cuentakilómetros (KM)  Puertas  Precio
0  Toyota  White          150043.000000      4.0    4000
1   Honda    Red           87899.000000      4.0    5000
2  Toyota   Blue           32549.000000      3.0    7000
3     BMW  Black           86092.777778      5.0   22000
4  Nissan  White          213095.000000      4.0    3500
5  Toyota  Green           99213.000000      4.0    4500
6   Honda   Blue           45698.000000      4.0    7500
8  Toyota  White           60000.000000      4.0    6250
9  Nissan  White           31600.000000      4.0    9700

##7.3 Como cambiar el tipo de dato de una columna

A veces queremos cambiar el tipo de dato de una columna. Para ello usamos la función .astype().

Pongamos de ejemplo que queremos convertir los datos de la columna precio en texto (string)

In [44]:
df2['Precio']=df2['Precio'].astype(str)

In [45]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 0 to 9
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Coche                  9 non-null      object
 1   Color                  9 non-null      object
 2   Cuentakilómetros (KM)  9 non-null      float64
 3   Puertas                9 non-null      float64
 4   Precio                 9 non-null      object
dtypes: float64(2), object(3)
memory usage: 432.0+ bytes

Como podemos ver, ahora los datos de la columna precio son texto y no números.

##7.4 Como hacer dos comandos a la vez y cómo quitar columnas y renombrar columnas

A veces nos es más fácil hacer varios comandos a la vez para ahorrarnos tiempo. Esto se hace combinando ambos con un punto. Veamos un ejemplo quitando una columna (para lo que hay que usar .drop()) y renombrando otra (para lo que hay que usar .rename)

In [34]:
df2=df2.drop(columns='Precio').rename(columns={'Coche':'C'})
df2

        C  Color  Cuentakilómetros (KM)  Puertas
0  Toyota  White          150043.000000      4.0
1   Honda    Red           87899.000000      4.0
2  Toyota   Blue           32549.000000      3.0
3     BMW  Black           86092.777778      5.0
4  Nissan  White          213095.000000      4.0
5  Toyota  Green           99213.000000      4.0
6   Honda   Blue           45698.000000      4.0
7   Honda   Blue           54738.000000      NaN
8  Toyota  White           60000.000000      4.0
9  Nissan  White           31600.000000      4.0

##7.4 Cómo modificar el índice

Como hemos dicho antes, los dataframes van indexados por defecto. Por ejemplo, en el dataframe que he descargado hay un índice y después la variable "coche".

Si queremos librarnos de este índice por las razones que sean, es tan sencillo como indicar que queremos volver a leer el Excel pero esta vez poniendo como índice una columna de nuestra elección.

In [ ]:
#El código es casi el mismo que para leer un dataset solo que hay que incluir dentro del parentesis la función "index_col" indicando qué columna queremos que sea el nuevo índice. En nuestro caso la columna de "Año" que se corresponde con la columna 0
datos_indexados=pd.read_excel('Ejemplo_Coches.xlsx', index_col=0)
datos_indexados.head()

        Color  Cuentakilómetros (KM)  Puertas  Precio
Coche
Toyota  White                 150043        4    4000
Honda     Red                  87899        4    5000
Toyota   Blue                  32549        3    7000
BMW     Black                  11179        5   22000
Nissan  White                 213095        4    3500

En este caso, el índice es la columna de "Coche" (Columna 0).

##7.5 Cómo extraer columnas del dataframe como series

A veces queremos solo una columna del Dataframe. Para ello:

In [ ]:
Puertas=df2['Puertas']
Puertas

0    4.0
1    4.0
2    3.0
3    5.0
4    4.0
5    4.0
6    4.0
8    4.0
9    4.0
Name: Puertas, dtype: float64

Una vez extraída la columna ya podemos modificarla como queramos

In [ ]:
#Vamos a multiplicar la serie por 5
Puertas5=Puertas*5
Puertas5

0    20.0
1    20.0
2    15.0
3    25.0
4    20.0
5    20.0
6    20.0
8    20.0
9    20.0
Name: Puertas, dtype: float64

##7.6 Como convertir una serie en formato fecha

A veces cuando importas un dataframe con fechas, estas no son leídas como tal y lo más normal es que te devuelva que tus fechas son 'strings'. Para arreglar esto podemos usar .to_datetime()

Vamos a verlo con un ejemplo, para ello primero vamos a crear una serie con fechas donde vamos a tener el 1 de enero de 2020, 2021 y 2022. Primero vamos a intentarla crear como si las fechas fueran números (int64)

In [ ]:
FechasN=pd.Series([1-1-2020,1-1-2021,1-1-2022])
FechasN

0   -2020
1   -2021
2   -2022
dtype: int64

Nos devuelve el año en negativo y no la fecha. Vamos a hacerlo como si las fechas fueran palabras (strings)

In [ ]:
FechasP=pd.Series(['1-1-2020','1-1-2021','1-1-2022'])
FechasP

0    1-1-2020
1    1-1-2021
2    1-1-2022
dtype: object

Aquí ya nos devuelve las fechas que queremos pero como si fueran palabras. Esto puede llegar a darnos problemas para algunas operaciones así que lo convertimos a formato fecha

In [ ]:
Fechas1=pd.to_datetime(FechasP)
Fechas1

0   2020-01-01
1   2021-01-01
2   2022-01-01
dtype: datetime64[ns]

Ya lo tenemos en formato fecha. Pero, ¿y que pasaría si solo tuvieramos los años? Es decir, los datos que tenemos están en frecuancia anual sin tener meses o días.

In [ ]:
FechasA=pd.Series(['2020','2021','2022'])
FechasA

0    2020
1    2021
2    2022
dtype: object

In [ ]:
Fechas2=pd.to_datetime(FechasA)
Fechas2

0   2020-01-01
1   2021-01-01
2   2022-01-01
dtype: datetime64[ns]

Como podemos ver, el formate fecha siempre necesita de mes y día. Si no lo tiene simplemente asume que es 1 de enero (1-1-...)