La **conversión**, **coerción** o **casting** de tipos de datos es el cambio de un tipo de dato a otro diferente. Dicho cambio puede ser explícito o implícito:
* **Conversión implícita:** se produce cuando una operación cambia automáticamente el tipo de dato, es decir, el tipo de los datos de salida es diferente al tipo de los datos de entrada. Un ejemplo muy sencillo es el de un división entre dos numeros enteros cuyo resultado es un número decimal. Tanto Python como R, si es necesario y pueden, intentarán realizar la conversión de manera implícita. Habrá ocasiones en los que Python y R tengas éxito y la operación ocurra sin problemas, y otras en las que fallen y obtengamos un error. En estos últimos casos suele ser necesesario realizar alguna conversión explícita.
* **Conversión explícita:** nosotros somos los que decidimos el cambio de tipo de dato. Por ejemplo, pasar de un formato numérico a uno tipo texto. Este tipo de conversión es el que desarrollaremos en este cuaderno.

#**Conversión en Python**

En Python, contamos con cuatro funciones de conversión de tipos de datos principales:
* `str()`: convierte los datos en tipo `string` (texto).
* `int()`: convierte a número entero.
* `float()`: convierte a número decimal.
* `bool()`: comvierte a booleano (tipo lógico).

Veamos distintos casos de coerción:

######**Convertir enteros a flotantes**

In [ ]:
entero = 96

float(entero)

96.0

In [ ]:
float(25)

25.0

######**Convertir flotantes a enteros**

In [ ]:
int(655.87)

655

Vemos que lo que hace `int()` no es aproximar a las unidades, sino que, directamente, realiza el truncamiento de la parte decimal.

Si quisiéramos redondear, deberíamos usar la función `round()`:

In [ ]:
round(655.87)

656

La función `round()` realiza implícitamente la conversión a tipo entero:

In [ ]:
type(round(655.87))

int

######**Convertir números en texto**

In [ ]:
str(24)

'24'

In [ ]:
str(24.5)

'24.5'

######**Convertir texto en números**

In [ ]:
int("24")

24

In [ ]:
float("24.5")

24.5

Solo podemos convertir texto en formato numérico cuando la variable texto hacia referencia directamente a un número, como en los dos ejemplos anteriores. Sin embargo, no funciona cuando le pasamos otro texto:

In [ ]:
int("veinticuatro")

ValueError: ignored

######**Convertir booleanos a texto**

In [ ]:
str(True)

'True'

In [ ]:
str(False)

'False'

######**Convertir booleanos a número**

En este caso, la idea es la siguiente: `True` = 1, `False` = 0

In [ ]:
int(True)

1

In [ ]:
float(False)

0.0

######**Convertir números a formato booleano**

La idea es similar a la anterior: el cero será reconocido como `False`; mientras que todo número distinto de cero será reconocido como `True`:

In [ ]:
bool(45)

True

In [ ]:
bool(0.0)

False

######**Convertir texto a formato booleano**

En este caso, la conversión es aún más sencilla: toda cadena de texto es convertida en `True`, salvo las cadenas de texto vacías:

In [ ]:
bool("Hola")

True

In [ ]:
bool("")

False

######**Conversión entre listas y tuplas**

Otro tipo de coerción muy habitual puede ser el producido entre objetos tipo lista y objetos tipo tupla. Para ello, debemos hacer uso de las funciones `list()` y `tuple()`:

In [ ]:
#Creamos una tupla:
Tupla = ("HOLA", "ADIÓS")

#Cambiamos el tipo de dato a lista:
list(Tupla)

['HOLA', 'ADIÓS']

In [ ]:
type(Tupla)

tuple

In [ ]:
#Creamos una lista:
Lista = ["ADIÓS", "HOLA"]

#Cambiamos el tipo de dato a tupla:
tuple(Lista)

('ADIÓS', 'HOLA')

In [ ]:
type(Lista)

list

#**Conversión en R**

Para ejecutar código de R en un cuaderno de Python, emplearemos la opción *Rmagic*, que se explica en el **Cuaderno introductorio a Google Colab**:

In [ ]:
%load_ext rpy2.ipython

En R, contamos con cuatro funciones de conversión de tipos de datos principales:
* `as.character()`: convierte los datos en tipo `string` (texto).
* `as.integer()`: convierte a número entero.
* `as.double()`: convierte a número decimal.
* `as.numeric()`: convierte a tipo numérico (incluye tipo entero y decimal).
* `as.logical()`: comvierte a booleano (tipo lógico).
* `as.factor()`: convierte a tipo factor.

Veamos distintos casos de coerción:

######**Convertir enteros a flotantes**

In [ ]:
%%R
entero <- 96
as.double(entero)

[1] 96

In [ ]:
%%R
typeof(as.double(entero))

[1] "double"

Aunque, al contrario que hace Python, R no le añada un `.0`, sí que convierte el entero a decimal.

######**Convertir flotantes a enteros**

In [ ]:
%%R
as.integer(655.87)

[1] 655

Al igual que en Python, vemos que lo que hace `as.integer()` no es aproximar a las unidades, sino que, directamente, realiza el truncamiento de la parte decimal.

Si quisiéramos redondear, deberíamos usar la función `round()`:

In [ ]:
%%R
round(655.87)

[1] 656

Sin embargo, en R, la función `round()` no realiza implícitamente la conversión a tipo entero:

In [ ]:
%%R
typeof(round(655.87))

[1] "double"

######**Convertir números en texto**

In [ ]:
%%R
as.character(24)

[1] "24"

In [ ]:
%%R
as.character(24.5)

[1] "24.5"

######**Convertir texto en números**

In [ ]:
%%R
as.integer("24")

[1] 24

In [ ]:
%%R
as.double("24.5")

[1] 24.5

In [ ]:
%%R
as.numeric("24")

[1] 24

In [ ]:
%%R
as.numeric("24.5")

[1] 24.5

Como con Python, solo podemos convertir texto en formato numérico cuando la variable texto hacia referencia directamente a un número, como en los dos ejemplos anteriores. Cuando le pasamos otro texto el resultado en un `NA`(*Not a Number*):

In [ ]:
%%R
as.integer("veinticuatro")

[1] NA

In [ ]:
%%R
as.double("veinticuatro")

[1] NA

In [ ]:
%%R
as.numeric("veinticuatro")

[1] NA

######**Convertir booleanos a texto**

In [ ]:
%%R
as.character(TRUE)

[1] "TRUE"

In [ ]:
%%R
as.character(FALSE)

[1] "FALSE"

######**Convertir booleanos a número**

En este caso, la idea es la siguiente: `TRUE` = 1, `FALSE` = 0

In [ ]:
%%R
as.integer(TRUE)

[1] 1

In [ ]:
%%R
as.double(FALSE)

[1] 0

######**Convertir números a formato booleano**

La idea es similar a la anterior: el cero será reconocido como `FALSE`; mientras que todo número distinto de cero será reconocido como `TRUE`:

In [ ]:
%%R
as.logical(45)

[1] TRUE

In [ ]:
%%R
as.logical(0.0)

[1] FALSE

######**Convertir texto a formato booleano**

Al contrario que en Python, las cadenas de texto no se pueden convertir a formato booleano, por lo que R devolverá un `NA`:

In [ ]:
%%R
as.logical("Hola")

[1] NA

In [ ]:
%%R
as.logical("")

[1] NA

######**Convertir en tipo factor**

`as.factor` convierte números, texto o booleanos a un factor de un solo nivel:

In [ ]:
%%R
as.factor(27)

[1] 27
Levels: 27

In [ ]:
%%R
as.factor(27.7)

[1] 27.7
Levels: 27.7

In [ ]:
%%R
as.factor("Hola, ¿qué tal?")

[1] Hola, ¿qué tal?
Levels: Hola, ¿qué tal?

In [ ]:
%%R
as.factor(TRUE)

[1] TRUE
Levels: TRUE